[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=dan
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -t -i /home/dan/Pictures/megaman.png

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
